input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

main {
  flex: 1 0 auto;
}

body{
    font-family: 'Rubik', sans-serif;
    margin: 0%;
    min-height: 100vh;
    flex-direction: column;
}

footer{
    display: flex;
    width: 100%;
    padding: 0;
    bottom: 0px;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.material-icons {
    vertical-align: middle !important;
    padding-bottom: 3px;
}

#marge {
    margin-top: -30px;
}

#ligne1 {
    margin-bottom: -20px;
    background-color: #1e2229; font-size: 18pt;color: white
}

.container {
    padding-top: 20px;
}

#radio {
    padding-top: 10px;
}

.switch {
    padding-top: 12px;
}

.helper-text {
    display: none;
}

#alerte {
    color: red;
}

#menu {
    color: #FFFFFF;
    width: 20px;
}

@media screen and (max-width: 700px) {
    #cacheSurTelephone {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}