body {
	font-family: 'Rubik', sans-serif;
	background-color: #FFFFFF;
	margin:0px;


	/*font-family: 'Squada One', cursive;*/



	/*font-family: 'Hind Guntur', sans-serif;*/
}

#ligne1 {
	margin-bottom: -20px;
	background-color: #1e2229; font-size: 18pt;color: white

	/*font-family: 'Squada One', cursive;*/



	/*font-family: 'Hind Guntur', sans-serif;*/

}

#map{
	padding: 0%; height: 300px;
}


#ligne2 {
	margin-top: -20px;
	font-size: 18pt;
	color: #FFFFFF;
	background-color: #1e2229;
}

div{
	text-align: center;
}



#header{
	background-color: #1e2229; font-size: 18pt;color: white
}
.lien{
	text-decoration: none;
	color: whitesmoke;
}
.chart{
	height: 270px;
	width: 300px;
}
#myChart{
	padding: 0%;
}
#myChart2{
	padding: 0%; width: 50%;
}
#myChart2{
	padding: 0%; width: 49%;
}

#modal1{
	width: 30%;
}
.foot{
	margin-top: -0.10%;
}