body {
	font-family: Arial;
	background-color: #FFFFFF;
	margin:0px;
}

#ligne1 {
	margin-bottom: -20px;
}

#ligne2 {
	margin-top: -20px;
	font-size: 18pt;
	color: #FFFFFF;
	background-color: #1e2229;
}

div{
	text-align: center;
}



#header{
	background-color: #1e2229; font-size: 18pt;color: white
}
a{
	text-decoration: none;
}
.chart{
	height: 270px;
}

