#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height:400px;
  width: 100%;
}

main {
  flex: 1 0 auto;
}

body{
  margin: 0%;
  font-family: Rubik;
  min-height: 100vh;
  flex-direction: column;
}

footer{
  display: flex;
  width: 100%;
}


.circle {
  margin-left: 2%;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 155px;
  text-align: center;
  color: black;
}

#menu{
  margin-top: 10px;

  font-size: 30pt;
}

#false {
  background: darkred;
  color: white;
}
#ligne1 {
  background-color: #1e2229; font-size: 18pt;color: white
}

#true {
  background: darkgreen;
  color: white;
}

#page{
    background-color: whitesmoke;

}
.sidenav-trigger{
  margin-top: 10px;
}
