#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:400px;
    width: 100%;
}

main {
    flex: 1 0 auto;
}

body{
    margin: 0%;
    font-family: Rubik;
    min-height: 100vh;
    flex-direction: column;
}

footer{
    display: flex;
    width: 100%;
}


#ligne_principale{
    margin-top: 48px;
}

#menu{
    font-size: 30pt;
}

#false {
    background: darkred;
    color: white;
}
#ligne1 {
    background-color: #1e2229; font-size: 18pt;color: white
}

#true {
    background: darkgreen;
    color: white;
}

#page{
    background-color: whitesmoke;

}
.sidenav-trigger{
    margin-top: 10px;
}
.foot{
    position :fixed;
    width: 100%;
    padding-top: -40px;
    padding-bottom: -40px;
    bottom: 0px;
}

button:focus{
    border: solid 1px blue;
}
